<!DOCTYPE html>
<html>
  <body>
    <form action="/new_recipes" method="post">
      <input type="checkbox" name="option" value="vegan">Vegan
      <input type="checkbox" name="option" value="vegetarian">Vegetarian
      <input type="checkbox" name="option" value="gluten free">Gluten free
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
