<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SpoonConscious</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!-- <div id="header-bar"> -->
  <div id = "header">
    <a href = "home"><h1>SpoonConscious</h1></a>
    <h2>Gluten-Free, Vegetarian, & Vegan Resources</h2>
      <!-- <ul>
      <li><a href = "recipes.erb">Recipes</a></li>
      <li><a href="resturants.erb">Resturants</a></li>
      <li><a href= "Contact_us.erb">Contact Us</a></li>
      <li><a href = "Index.erb">Home</a></li>
      </ul>
  </div> -->
</div>

<h4>Our Mission</h4>
<p>Our goal for this site is to give people with dietary restrictions and food allergies multiple options at restaurants and for recipes. We hope to spread the news of different brands and food chains that offer different options for them as well as showing the different subsitutions they can use when cooking.</p>

<section class = "diet-cards">

  <div class="card">
      <h3> Gluten-Free </h3>
      <img src="images/Gluten-free.jpg" alt>
      <p> Gluten is a name for proteins found in things like wheat and barley.  People who are gluten-free cannot eat anything containing wheat products, or in extreme cases, anything contaminated by wheat. People who are gluten-free tend to avoid bread, pasta, cereals, and baked goods. </p>
      <a href = "recipe_generator"><button div class = "button">Recipe Generator</button></a>
      <br></br>
  </div>

<div class="card">
      <h3> Vegetarian </h3>
      <img src="images/Vegetarian.jpg" alt>
      <p> Vegetarians are people who do not eat meat for moral, religious, or health reasons. A lacto-vegetarian eats dairy products but not eggs. Ovo-vegetarians eats eggs but not dairy products.  Lacto-ovo vegetarians eat both eggs and dairy products. </p>
      <a href = "recipe_generator"><button div class = "button">Recipe Generator</button></a>
      <br></br>
  </div>

  <div class="card">
      <h3> Vegan </h3>
      <img src="images/vegan.jpg" alt>
      <p> Veganism is another branch of vegetarianism.  Vegans do not eat any products that come from animals, including meat, dairy, eggs, and fish. This can be for moral, religous, or health reasons.
      </p>
      <br></br>

      <a href = "recipe_generator"><button div class = "button">Recipe Generator</button></a>
      <br></br>
  </div>

</section>
  <h2>Want information about local St. Louis restaurants & fast food chains? <a href="/restaurants">Click here.</a> </h2>

  <p>Disclaimer: The recipes on this site, along with their photos, are owned by the authors of the linked posts.  We are not taking ownership of their content; this is the beginnings of a recipe collection!</p>
  <p>&copy SpoonConscious</p>
</body>
</html>
