<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SpoonConscious</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <!-- <div id="header-bar"> -->
  <div id = "header">
    <h1>SpoonConscious</h1>
    <h2>Gluten-Free, Vegetarian, & Vegan Recources</h2>
  </div>
  <h1>Recipes</h1>
  

</body>
</html>
