<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SpoonConscious</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!-- <div id="header-bar"> -->
  <div id = "header"><a href = "home">
    <h1>SpoonConscious</h1>
    <h2>Gluten-Free, Vegetarian, & Vegan Recources</h2></a>
  </div>
  <h1>Recipe Generator</h1>
  <h4>Please Check the Boxes With Your Dietary Restrictions</h4>
  <form action="/new_recipes" method="post">
    <input type="checkbox" class="checkbox" name="option" value="gluten free">Gluten free
    <input type="checkbox" class="checkbox" name="option" value="vegetarian">Vegetarian
    <input type="checkbox" class="checkbox" name="option" value="vegan">Vegan
    <button type="submit" class="button2">Submit</button>
  </form>
</body>
</html>
