<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SpoonConscious</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!-- <div id="header-bar"> -->
  <div id = "header">
    <a href = "home"><h1>SpoonConscious</h1></a>
    <h2>Gluten-Free, Vegetarian, & Vegan Resources</h2>
      <!-- <ul>
      <li><a href = "recipes.erb">Recipes</a></li>
      <li><a href="resturants.erb">Resturants</a></li>
      <li><a href= "Contact_us.erb">Contact Us</a></li>
      <li><a href = "Index.erb">Home</a></li>
      </ul>
  </div> -->
</div>

<section class = "diet-cards">

  <div class="card">
      <h3> Food Chains </h3>
      <p> Vegan food chains include Applebee's, Baskin Robbins, Buffalo Wild Wings, Burger King, Carl Jr.'s, The Cheesecake Factory, Chili's, Chipotle, Cici's Pizza, Cracker Barrel, Dairy Queen, and Denny's. </p>
      <br></br>
  </div>

<div class="card">
      <h3> Local St. Louis Restaurants </h3>
      <p>Local restaurants with gluten-free options include Pi Pizza, The Original Pancake House, The King and I, the Egg and I, Dewey's, and Wasabi.
      Local restaurants with vegan and vegetarian options include Gokul Indian Restaurant, Everest Cafe, Pura Vegan, and Sweet Art. </p>
      <br></br>
  </div>

  <div class="card">
        <h3>Want more information?</h3>
        <p>Go to http://www.huffingtonpost.com/carolyn-scott/healthier-fast-food_b_1407178.html to get more information on vegan, vegetarian, and gluten-free options.</p>
        <br></br>
    </div>

</section>

  <p>Disclaimer: The recipes on this site, along with their photos, are owned by the authors of the linked posts.  We are not taking ownership of their content; this is the beginnings of a recipe collection!</p>
  <p>&copy SpoonConscious</p>
</body>
</html>
