body {
  background-color: #EDFFF3;
}

div#header-fixed {position:fixed; z-index:-; width:100%;}
div#header {background:white; height:3%;}


h1 {
  font-family: LemonMilk; font-size: 50pt; text-align: center; color: black;
}

h2 {
  font-family: Aliens and Cows; text-align: center; font-size: 25pt; color: black;
}

h3 {
  font-family: LemonMilk; font-size: 40pt; color: black;
}

h4 {
  font-family: LemonMilk; font-size: 25pt; color: black; text-align: center;
}

.button {
    background-color: #EDFFF3;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: LemonMilk;
    width: 33%;
}

.button2 {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 10%;
    font-size: 12px;
    font-family: LemonMilk;
    width: 10%;
}

.card {
  display: inline-block;
  width: 31%;
  background-color: white;
  color: black;
  vertical-align: top;
  text-align: center;
  font-family: LemonMilk;
  margin: 1%;

}

.diet-cards img {
  width: 100%
}

  p {
    font-family: Roboto; font-size: 14pt; text-align: center;
  }

  .checkbox{
  	width: 25px;
  	margin: 20px 100px;
  	position: relative;
  }

  .checkbox label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  	left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.checkbox label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.checkbox label:hover::after {
	opacity: 0.5;
}

.checkbox input[type=checkbox]:checked + label:after {
	opacity: 1;
}

  a:link {
    text-decoration: none;
  }

  .:visited {
    font-family: ; font-size: pt; color: ; text-decoration: none;
  }

  .:hover {
    /*font-family: ; font-size: pt; color: ; text-decoration: underline;*/
    -webkit-transition: all 3s ease;
  	-moz-transition: all 3s ease;
  	-o-transition: all 3s ease;
  }
