@import url(https://fonts.googleapis.com/css?family=Lobster|Roboto:100|Passion+One);
body {
  background-color: #EDFFF3;
}

div#header-fixed {position:fixed; z-index:-; width:100%;}
div#header {
  background:white; height:3%; position:fixed; width:100%; top:0;
}


h1 {
  font-family: 'Passion One', cursive; font-size: 50pt; text-align: center; color: black;
}

h2 {
  font-family: 'Lobster', cursive; text-align: center; font-size: 25pt; color: black;
}

h3 {
  font-family: 'Passion One', cursive; font-size: 40pt; color: black;
}

h4 {
  font-family: 'Passion One', cursive; font-size: 25pt; color: black; text-align: center;
}

.button {
    background-color: #EDFFF3;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Passion One', cursive;
    width: 33%;
}

#button2 {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 1%;
    font-size: 12px;
    font-family: 'Passion One', cursive;
    width: 10%;
}

#button3 {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-left: 45%;
    margin-top: 1%;
    font-size: 12px;
    font-family: 'Passion One', cursive;
    width: 10%;
}

.card {
  display: inline-block;
  width: 31%;
  background-color: white;
  color: black;
  vertical-align: top;
  text-align: center;
  font-family: 'Passion One', cursive;
  margin: 1%;

}

.diet-cards img {
  width: 100%
}

.recipe-cards img {
  width: 100%
}

  p {
    font-family: 'Roboto', sans-serif; font-size: 14pt; text-align: center;
  }

  input[type=checkbox].css-checkbox {
  							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-px; padding:0; border:0;
  						}

              input[type=checkbox].css-checkbox + label.css-label {
  							padding-left:29px;
  							height:24px;
  							display:inline-block;
  							line-height:24px;
  							background-repeat:no-repeat;
  							background-position: 0 0;
  							font-size:24px;
  							vertical-align:middle;
  							cursor:pointer;

  						}

              input[type=checkbox].css-checkbox:checked + label.css-label {
                background-position: 0 -24px;
              }

              label.css-label {
          background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_03ee0a503184727e98aa0cf69eb88fac.png);
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

  .css-label {
    font-family: 'Passion One', cursive;
    margin-right: 8%;
    margin-left: 8%;
  }

  a:link {
    text-decoration: none;
  }

  .:visited {
    font-family: ; font-size: pt; color: ; text-decoration: none;
  }

  .:hover {
    /*font-family: ; font-size: pt; color: ; text-decoration: underline;*/
    -webkit-transition: all 3s ease;
  	-moz-transition: all 3s ease;
  	-o-transition: all 3s ease;
  }
